.daskboardSection{
    width: 100%;
    height: 80vh;
    background-color: #f5f5f5 ;
}
.userdaskcontainer{
    /* border: 1px solid red; */

}
.usertoprow{
    width: 100%;
    margin: 0 auto;
}
.toprowspan{
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.7); */
}
.userdaskrow{
background-color: white ;
width: 100%;
margin: 0 auto;
overflow: hidden;
height: 85%;
}

/* user daskboard menu section styling */
.userdaskmenu{
    
    background-color: #00308F;
}
.listgroup{
    border-radius: 0;
}
.listitem{
    background-color: #00308F;
    border: none;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 0;
}

.userdaskheader{
    font-size: 1rem;
    color: white;
    font-weight: 400;
   
}
.userdasklink{
   font-size: 0.9rem;
    padding: 5px 0px;
    color: white;
    display: block;
    position: relative;
}
.userdasklink::after{
    content: "";
    border-bottom: 1px solid white;
    left: 0;
    width: 0%;
    bottom: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;

}
.userdasklink:hover{
    color: white;
}
.userdasklink:hover::after{
    width: 100%;   
    transition: all 0.3s ease-in-out;
}

/* account compponet styling */
.accountheader{
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
  
}
.account-inner-row{
 
 width: 100%;
}
.accounttitle{
font-size: 1rem; 
font-weight: 400;
color: rgba(0, 0, 0, 0.7);
border-bottom: 1px solid rgba(0, 0, 0, 0.7);
padding-bottom: 5px ;
}
.user-contact-info{
    font-size: 1.1rem;
    font-weight: 700;
    color: #000;
}
.user-detail-p{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
}
.user-account-link{
    padding: 8px 10px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}
.user-account-link:hover{
    background-color: red;
    color: white;
    transition: all 0.3s ease-in-out;
}
/* user dask board menu responsive side */
@media(min-width:1199px){
    .userdaskrow{
       width: 80%;
     }
     .usertoprow{
        width: 80%;
        margin: 0 auto;
    }         
}
@media(max-width:1199px){
    .toprowspan{
        font-size: 1.2rem;
    }
    .userdaskheader{
        font-size: 1rem;     
    }
    .listitem{
       font-size: 0.8rem;
   }
   .userdaskheader{
    font-size: 0.9rem;
    }
    /* account componet responsive style */
    .accountheader{
        font-size: 1.2rem!important;  
    }
}
@media(max-width:768px){
    .daskboardSection{
        border-top: 2px solid rgba(0,0,255,0.2);
    }
    .listitem{
        padding-left: 0px;
    }
    .userdaskheader{
        font-size: 0.8rem;
       
    }
    .userdasklink{
        font-size: 0.7rem;
         
     }
    /* account componet responsive style */
    .accountheader{
        font-size: 1rem!important;  
    }
    .accounttitle{
      font-size: 0.9rem; 
      padding-bottom: 2px;
    }
    .user-contact-info{
        font-size: 0.9rem;
       
    }
    .user-detail-p{
        font-size: 0.8rem;
     }
     .user-account-link{
        padding: 5px 8px;
        font-size: 0.8rem;
      
    }
}

